pipeline/pl_copy_datalake_sqlserver_fullload.json
{
	"name": "pl_copy_datalake_sqlserver_fullload",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metadata_files",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_inputdatalake_outputdatalake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metadata_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metadata_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydata_datalake_datalake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_datalake_inpu1",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@item().Inputcontainer",
											"type": "Expression"
										},
										"directoryname": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalake_output1",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"directoryname": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach2_outputdatalake_to_sqlserver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1_inputdatalake_outputdatalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metadata_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydata_datalake_sqlserver",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_datalake_output1",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"directoryname": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}