pipeline/pl_copy_metadata_foreach_fullload.json
{
	"name": "pl_copy_metadata_foreach_fullload",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_input",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('metadata')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_datalake_input",
									"type": "DatasetReference",
									"parameters": {
										"containername": {
											"value": "@item().Inputcontainer ",
											"type": "Expression"
										},
										"directoryname": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azure_sqlserver_output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"metadata": {
				"type": "Array",
				"defaultValue": [
					{
						"Inputfile": "airtravel.csv",
						"Inputcontainer": "tinput",
						"Inputdirectory": "folder",
						"Outputfile": "airtravel.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach1"
					},
					{
						"Inputfile": "customers.csv",
						"Inputcontainer": "tinput",
						"Inputdirectory": "folder",
						"Outputfile": "customers.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach2"
					},
					{
						"Inputfile": "biostas.csv",
						"Inputcontainer": "tinput",
						"Inputdirectory": "folder",
						"Outputfile": "biostas.csv",
						"Outputcontainer": "folderforeach",
						"Outputdirectory": "subfolderforeach3"
					}
				]
			}
		},
		"annotations": []
	}
}