pipeline/pl_DeltaLoad.json
{
	"name": "pl_DeltaLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup_get_oldwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_oldwatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_get_newwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modified_date) as\nnewwatermark from dbo.sales",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_newwatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copydata_between_both_watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_get_oldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_get_newwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select *from dbo.sales where modified_date>@activity('Lookup_get_oldwatermark').output.firstRow.watermarkvalue and modified_date <= @activity('Lookup_get_newwatermark').output.newwatermark",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_deltafromsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_datalakecopy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure_update_oldwatermark_with_newwatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copydata_between_both_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark]",
					"storedProcedureParameters": {
						"undefined": {
							"value": ""
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copydata_datalake_to_sqlserver",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Stored procedure_update_oldwatermark_with_newwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}